[user]
	email = YOUR_EMAIL
	name = YOUR_NAME
[credential]
	helper = YOUR_HELPER
[core]
	editor = YOUR_EDITOR
[push]
	followTags = true
[alias]
	s = !git status -s
	c = !git add --all && git commit -m
	cs = !git commit -m
	l = !git log --pretty=format:'%C(green)%h %C(white)| %C(cyan)%cn: %C(white)%s | %C(yellow)%cr %C(red)%D'
	ph = !git push
	pl = !git pull
	r = !git restore --staged
	a = !git add
	t = !git tag -a
	cp = !git cherry-pick
